<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.glopark.plus"
        versionCode = "10" 
        version     = "1.0.0" >

    <name>Glopark Plus</name>

    <description>
        Anything you want
    </description>

    <author href="http://www.recepuncu.com" email="recepuncu@gmail.com">
        Recep Uncu
    </author>
	
	<plugin name="cordova-plugin-device" source="npm" />
	<plugin name="cordova-plugin-inappbrowser" source="npm" />
	<plugin name="cordova-plugin-statusbar" source="npm" />
	
	<preference name="StatusBarBackgroundColor" value="#4caf50" />
	
	<icon src="icon.png" />
	<icon src="res/icons/androidicon-36-ldpi.png" platform="android" qualifier="ldpi" />
	<icon src="res/icons/androidicon-48-mdpi.png" platform="android" qualifier="mdpi" />
	<icon src="res/icons/androidicon-72-hdpi.png" platform="android" qualifier="hdpi" />
	<icon src="res/icons/androidicon-96-xhdpi.png" platform="android" qualifier="xhdpi" />
	<icon src="res/icons/androidicon-144-xxhdpi.png" platform="android" qualifier="xxhdpi" />
	<icon src="res/icons/androidfr-icon-192-xxxhdpi.png" platform="android" qualifier="fr-xxhdpi" />
	
</widget>