<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10" 
        version     = "1.0.0" >

    <name>Glopark Plus</name>

    <description>
        Anything you want.
    </description>

    <author href="http://www.recepuncu.com" email="recepuncu@gmail.com">
        Recep Uncu
    </author>
	
	<plugin name="cordova-plugin-inappbrowser" source="npm" />
	<plugin name="cordova-plugin-statusbar" source="npm" />
	
	<preference name="StatusBarBackgroundColor" value="#4caf50" />
	
</widget>